<!-- Todo: Move to account management -->
<!-- <h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p> -->
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>
<div id="viewer"></div>
<h3>Stack Overflow - Calendar Heatmap</h3>
<h4>Daily number of answered posts</h4>
<svg id="svg"></svg>
<div class="container"></div>
<button type="button" ng-class="{'btn-danger': addingGoal, 'btn-primary': !addingGoal}" class="btn " ng-click="addingGoal = !addingGoal">{{addingGoal ? 'Cancel' : 'Add'}}</button>
<div ng-show="addingGoal">
    <h4>Goal Information</h4>
    <form ng-submit="addGoal()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputGoalName">Name</label>
                <input ng-model="goalName" type="text" class="form-control" id="inputGoalName" placeholder="What you'd like to achieve?">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription">Description</label>
            <input ng-model="goalDescription" type="text" class="form-control" id="inputDescription" placeholder="Add a little bit detail about your goal">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputStartDate">Start Date</label>
                <input ng-model="startDate" type="text" class="form-control" id="inputStartDate" placeholder="2019-10-12">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEndDate">End Date</label>
                <input ng-model="endDate" type="text" class="form-control" id="inputEndDate" placeholder="2020-10-12">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputMilestone">Milestones</label>
                <ul class="list-group">
                    <li ng-repeat="milestone in milestones" class="list-group-item">{{milestone}}</li>
                </ul>
                <input ng-model="newMilestone" type="text" class="form-control" id="inputMilestone" placeholder="...">
                <button ng-click="addMilestone(newMilestone)" class="btn btn-light btn-sm">Add Milestone</button>
            </div>
            <div class="form-group col-md-6">
                <label for="inputCheckIns">Check Ins</label>
                <ul class="list-group">
                    <li ng-repeat="item in checkIns" class="list-group-item">{{item}}</li>
                </ul>
                <input ng-model="newCheckIns" type="text" class="form-control" id="inputCheckIns" placeholder="...">
                <button ng-click="addCheckIns(newCheckIns)" class="btn btn-light btn-sm">Add Check In</button>
            </div>
        </div>
        <div class="form-group">
            <label for="goalChecked">Is this goal achieved?</label>
            <div class="form-check">
                <input ng-model="goalChecked" class="form-check-input" type="checkbox" id="goalChecked">
                <label class="form-check-label ml-4" for="goalChecked">
                    Yes
                </label>
            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-primary">Add Goal</button>
        </div>
    </form>
</div>